.alldivBxExC {
  padding-left: 20px;
}
/* 회원탈퇴 대문 */
.InfoExtDmon {
  padding-top: 50px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 6px;
  margin-bottom: 10px;
}
/* 유예기간 조건 안내-1 */
.infoCtCli{
  padding-top: 30px;
  font-size: 15px;
  color: gray;
  font-weight: 600;
}
/* 유예기간 조건 안내-2*/
.infoCtClitw{
  padding-top: 10px;
  font-size: 15px;
  color: gray;
  font-weight: 600;
}

/* 안내 컨테이너 */
.infAnneC {
  text-align: center;
  border-radius: 15px;
  position: absolute;
  top: 250px;
  right: 140px;
  margin: 10px;
  padding: 20px;
  display: flex;
}
/* 안내 이미지  */
.infAnnImg {
  padding-right: 10px;
}
/* 안내 문구  */
.infAnDMoon {
  font-size: 15px;
  color: gray;
}

/* 취소,탈퇴 버튼 컨테이너 */
.cAEBtnCtin {
  display: flex;
  justify-content: center;
  padding: 10px;
  top: 50px;
  right: 50px;
}

/* 취소 버튼 */
.infExCcBtn {
  position: absolute;
  top: 368px;
  right: 373px;
  border-radius: 15px;
  padding: 10px;
  background-color: gainsboro;
  color: gray;
  font-weight: bold;
  width: 40px;
  height: 20px;
  text-align: center;
  justify-content: center;
}
.infExCcBtn:hover {
  cursor: pointer;
}

/* 탈퇴 진행 버튼 */
.infExtPrgsBtn {
  position: absolute;
  top: 368px;
  right: 246px;
  border-radius: 15px;
  padding: 10px;
  background-color: blueviolet;
  color: white;
  font-weight: bold;
  width: 70px;
  height: 20px;
  text-align: center;
  justify-content: center;
}
.infExtPrgsBtn:hover {
  cursor: pointer;
}