

/* 전체 div 위치정렬 */
.aDCAligCtonw {
    position: relative;
}
/* 비밀번호변경 대문 */
.PEhSTContainer {
    font-size: 20px;
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 10px;
}
/* 사용자 이름 floating */
.uNmeAfltlgo {
    margin-top: 40px;
    font-size: 15px;
    font-weight: 500;
    color: gray;
}
/* 비밀번호 조건 안내 */
.infPWEdC{
    font-size: 12px;
    color: gray;
    font-weight: bold;
}
/* 인풋박스 컨테이너 */
.PWEIACont {
    display: flex;
    flex-direction: column;
}
/* 비밀번호 변경 인풋박스 */
.PEintrMyfIPT {
    margin-top: 20px;
    width: 620px;
    height: 30px;
    padding: 8px;
    border: 1px solid gainsboro;
    border-radius: 12px;
    font-size: 16px;
    color: gainsboro;
}
.PEintrMyfIPT:focus {
    outline: none;
    border-color: gainsboro;
    box-shadow: 0 0 3px gainsboro;
}
/* 변경 완료 */
.PWeCmpltC {
    border-radius: 35px;
    border: 1px solid blueviolet;
    width: 635px;
    height: 50px;
    color: white;
    background-color: blueviolet;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 304px;
}
.PWeCmpltC:hover {
    cursor: pointer;
}