.categoy-box{
    width: 694px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid black;
  }


.story {

    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid black;
    
    display: flex;
    justify-content: center;
    align-items: center;

    transition: border-bottom 0.3s;
  }

  .story h2 {

    font-size: 24px;
    cursor: pointer;

    display: inline-block;

  }
  
  .story.active {
    border-bottom: 3px solid black;
    transition: border-bottom 0.3s;
  }

