.category-box{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;


  }


.story {

    box-sizing: border-box;
    height: 50px;
    line-height: 40px;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .story img{
    transition: height 0.3s ease;
    height : 50px;
    width: 50px;
  }

  .story img:hover{
    transition: height 0.3s ease;
    height : 75px;
    width: 75px;
  }

  .story_active {
    box-sizing: border-box;
    height: 50px;
    line-height: 40px;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .story_active img{
    transition: height 0.3s ease;
    height: 75px;
    width: 75px;

}

