.category-box, 
.story, 
.category-icon-box, 
.icon, 
.icon_active{

  display: flex;
  justify-content: center;
  align-items: center;

}
 
.category-box{
    width: 100%;
    /* background-color: black; */
  }



.category-icon-box{
  width: 85px;
  height: 85px;
  margin-bottom: 5px;
  margin-top: 5px;

  
}

.my-Sailboat{
  width:52px;
  height:52px
}
.my-Sailboat_active{
  width:54px;
  height:55px;

}

