
  /* story */
  .story-container{
    width: 100%;

    margin-top: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .item-box{
    /* 얇게 width만 증가 */
    width: 24%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 두껍게 */
    /* margin-bottom: 35px; */
  }
  
.item{
    /* display: flex; */
    /* 두껍게 */
    width: 230px;
    height: 315px;
    margin-left: 1px;
    /* margin-right: 1px; */
    object-fit: fill;
    margin-bottom: 1px;
    background-color: rgb(238, 204, 210);

    #like_comment_container{
      display: none;
    }
    
  }

.item:hover{
    
    width: 230px;
    height: 315px;
    object-fit: fill;

    background-color:rgb(255, 255, 255 0.5);
    opacity: 0.5;

    #like_comment_container{
      display: flex;
    }

}

#like_comment_container{

  height: 100%;
  flex-direction: row;
  
  align-items: center;
  justify-content: center;

}

.like_container{
  display: flex;
  margin:10px;
}

.like_icon{
  
}

.comment_container{
  display: flex;  
  margin:10px;

}

.comment_icon{

}