
  /* story */
  .story-container{
    width: 100%;

    margin-top: 10px;

    display: flex;
    flex-wrap: wrap;
  }

  .item-box{
    /* 얇게 width만 증가 */
    width: 24%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 두껍게 */
    /* margin-bottom: 35px; */
  }
  
.item{
    /* display: flex; */
    /* 두껍게 */
    width: 17vw;
    height: 40vh;
    margin-left: 1px;
    /* margin-right: 1px; */
    margin-bottom: 1px;
    background-color: black;
  }



